@font-face {
  font-family: "ArcadeClassic";
  src: url("../../font/ArcadeClassic.ttf");
}

.gameDescription_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .gameDescription_titulo_box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      position: absolute;
      font-size: 1.5vw;
    }

    .gameDescription_titulo_background{
      width: 35vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

  }
  .gameDescription_caixa {
    font-size: 1.5vw;
    border: 2px solid #c238d3;
    border-radius: 8px;
    padding: 1vw;

    p {
      font-size: 1.1vw;
    }
  }
  }
