@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}

.gameDetails_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  .gameDetails_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;
  }

  .gameDetails_el_moeda {
    display: flex;
    flex-direction: row;
    //position: absolute;
    align-items: center;
    margin-left: 2vw;
  }

  p {
    font-size: 1.5vw;
    margin-left: 1vw;
  }

  .gameDetails_content_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 65vw;
    top: 5vw;

    .gameDetails_img_box {
      width: 40%;
    }

    .gameDetails_details_box {
      width: 60%;
      font-family: Share Tech Mono, cursive;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .gameDetails_play_button {
        cursor: pointer;
        border: 2px solid #c238d3;
        font-family: "ArcadeClassic";
        font-size: 1.5vw;
        padding: 0.8vw 1.5vw;
        margin-top: 1vw;
        border-radius: 8px;
        transition: 0.3s;
        width: 11vw;
        text-align: center;
        
        &:hover {
          transform: scale(1.1);
        }
    
        &:active {
          transform: scale(1);
        }
      }
    }
  }

  .gameDetails_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
  }

  .gameDetails_avatar {
    display: flex;
    position: absolute;
    width: 9vw;
    top: 31.2vw;
    left: 37vw;
  }

  .gameDetails_coelho {
    display: flex;
    position: absolute;
    top: 37vw;
    right: 12vw;
    bottom: 0;
    width: 3vw;
  }

  .gameDetails_florPink {
    display: flex;
    position: absolute;
    width: 6vw;
    top: 33.9vw;
    left: 5vw;
  }

  .gameDetails_arvoreBola {
    display: flex;
    position: absolute;
    top: 29.3vw;
    right: 4vw;
    bottom: 0;
    width: 11vw;
  }

  .gameDetails_moeda {
    display: flex;
    width: 2vw;
  }

  .gameDetails_coracao {
    margin-right: 2vw;
    width: 9vw;
  }

  .gameDetails_nuvemCumprida {
    display: flex;
    position: absolute;
    left: 1vw;
    top: -3.6vw;
    width: 22vw;
  }
}
