@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}

.gameDetails_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  
.gameDetails_el_topo_box {
  display: flex;
  position: absolute;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  top: -2vw;
}
  }

  .gameDetails_box {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 30%;
    align-items: center;

  .gameDetails_terra {
      display: flex;
      position: absolute;
      align-items: center;
      width: 80vw;
      top: 23.5vw;
      z-index: 1;
      //bottom: -45.5vw;
    }

    .gameDetails_avatar {
      display: flex;
      position: absolute;
      width: 9vw;
      // como alterar o posicionamento das imagens, ao inves do left posso usar o right
      top: 17.5vw;
      left: 9vw;
    }

    .gameDetails_coelho {
      display: flex;
      position: absolute;
      width: 3vw;
      // como alterar o posicionamento das imagens, ao inves do left posso usar o right
      top: 23.4vw;
      left: 22vw;
    }

    .gameDetails_florPink {
      display: flex;
      position: absolute;
      width: 6vw;
      // como alterar o posicionamento das imagens, ao inves do left posso usar o right
      top: 20vw;
      left: -35vw;
      //right: 10vw;
    }

    .gameDetails_arvoreBola {
      display: flex;
      position: absolute;
      width: 16vw;
      // como alterar o posicionamento das imagens, ao inves do left posso usar o right
      top: 10.4vw;
      left: 21vw;
      //right: 4vw;
    }

    .gameDetails_moeda {
      display: flex;
      //flex-direction: row;
      position: absolute;
      //align-items: center;
      top: -19vw;
      left: 35vw;
      //margin-left: 25vw;
      //top: 9vw;
      width: 3vw;

      //comloquei a moeda e desalinhou todo o resto , foi o ultimo
    }
  }

