@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}

.games_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.5vw;
    margin-left: 1vw;
  }

  .games_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;

    .games_el_moeda {
      display: flex;
      flex-direction: row;
      //position: absolute;
      align-items: center;
      margin-left: 2vw;
    }
  }

  .games_moeda {
    display: flex;
    width: 2vw;
  }

  .games_coracao {
    margin-right: 2vw;
    width: 9vw;
  }

  //.games_coracao {
  //  display: flex;
  //  position: absolute;
  //  //display: none;
  //  right: 2vw;
  //  top: 10vw;
  //  width: 9vw;
  //  z-index: 2;
  //}

  //.games_moeda {
  //  display: flex;
  //  position: absolute;
  //  //display: none;
  //  left: 2vw;
  //  top: 13vw;
  //  width: 3vw;
  //  z-index: 2;
  //}

  .games_titulo_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 60%;
    gap: 1vw;
    top: 4vw;

    .games_titulo {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      h2 {
        font-size: 2vw;
        font-family: "ArcadeClassic";
        position: absolute;
        top: 2.5vw;
      }

      .games_titulo_backgroud {
        width: 60%;
      }
    }

    .games_texto_box {
      font-size: 1vw;
    }
  }

  .games_lista_de_jogos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 80%;
    gap: 1vw;
    top: 16vw;
    cursor: pointer;
  }

  .games_nuvemTriangulo {
    display: flex;
    position: absolute;
    //display: none;
    left: 65vw;
    top: 7.2vw;
    width: 9vw;
  }

  .games_nuvemCumprida {
    display: flex;
    position: absolute;
    left: 1vw;
    top: -3.6vw;
    width: 22vw;
  }

  .games_avatar {
    display: flex;
    position: absolute;
    width: 8.6vw;
    top: 31.5vw;
    left: 18.3vw;
  }

  .games_dog {
    display: flex;
    position: absolute;
    top: 37.3vw;
    right: 11vw;
    width: 2.7vw;
  }

  .games_cogumelo {
    //display: flex;
    //position: absolute;
    ////display: none;
    //top: 45.8vw;
    ////right: 69vw;
    //left: 5vw;
    //bottom: 0;
    //width: 3vw;
    display: flex;
    position: absolute;
    top: 36.9vw;
    right: 74.2vw;
    width: 3vw;
  }

  .games_arvoreCheia {
    display: flex;
    position: absolute;
    
    top: 30.7vw;
    //bottom: 0;
    right: 1.2vw;
    width: 9.5vw;
  }

  .games_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
  }
}
