@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}


.games_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.5vw;
    margin-left: 1vw;
  }

  .games_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;
  }

  .games_el_moeda {
    display: flex;
    flex-direction: row;
    //position: absolute;
    align-items: center;
    margin-left: 2vw;
}

.games_moeda {
  display: flex;
  width: 2vw;
}

.games_coracao {
  margin-right: 2vw;
  width: 9vw;
}
  
  .games_nuvemTriangulo{
    display: flex;
    position: absolute;
    left: 66vw;
    top: -1vw;
    width: 11vw;
    z-index: 2;
  }
  //.games_nuvemTriangulo2 {
  //  display: flex;
  //  position: absolute;
  //  left: 68.5vw;
  //  top: 2vw;
  //  width: 11vw;
  //  z-index: 2;
  //}


.games_nuvemCumprida {
    display: flex;
    position: absolute;
    left: 1vw;
    top: -4vw;
    width: 22vw;
    z-index: 2;
}

  .games_avatar {
    display: flex;
    position: absolute;
    width: 9vw;
    top: 31.2vw;
    left: 25vw;
  }


  .games_dog {
    display: flex;
    position: absolute;
    top: 36.9vw;
    right: 16vw;
    width: 3vw;
  }

.games_cogumelo {
  display: flex;
  position: absolute;
  //display: none;
  top: 37vw;
  //right: 69vw;
  left: 5vw;
  bottom: 0;
  width: 3vw;
}

  .games_arvoreCheia {
    display: flex;
    position: absolute;
    top: 28.5vw;
    right: 6vw;
    width: 12vw;
  }

  .games_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
  }

}
