@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}


.games_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;


  .games_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: 0;
  }

  .games_nuvemTriangulo {
    display: flex;
    position: absolute;
    left: 55vw;
    top: -17vw;
    width: 11vw;
    z-index: 2;

  }


.games_nuvemCumprida {
    display: flex;
    position: absolute;
    left: 5vw;
    top: -22vw;
    width: 24vw;
    z-index: 2;
}

  .games_avatar {
    display: flex;
    position: absolute;
    width: 9vw;
    top: 16vw;
    left: 25vw;
  }

.games_trofeu {
  display: flex;
  position: absolute;
  width: 5vw;
  top: -20vw;
  //left: 20vw;
  right: 7vw;

  //display: flex;
  //position: absolute;
  //flex-direction: row;
  //justify-content: center;
  //top: 15%;
  //align-items: center;
}

  .games_dog {
    display: flex;
    position: absolute;
    top: 21vw;
    right: 10vw;
    width: 4vw;
  }

.games_cogumelo {
  display: flex;
  position: absolute;
  //display: none;
  top: 22vw;
  right: 69vw;
  bottom: 0;
  width: 3vw;
}

  .games_arvoreCheia {
    display: flex;
    position: absolute;
    top: 10vw;
    right: 10vw;
    width: 15vw;
  }

  .games_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: -30vw;
  }

  //.games_arrow {
  //  width: 5vw;
  //  cursor: pointer;
  //  transition: transform 0.3s;
  //  &:hover {
  //    transform: scale(1.2);
  //  }
  //  &:active {
  //    transform: scale(0.8);
  //  }
  //}

}
