@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}

.home_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  

  img {
    z-index: 1;
    width: 200px;
  }

  h1 {
    z-index: 1;
    font-size: 6vw;
    font-family: "ArcadeClassic", cursive;
    margin-bottom: 0;
  }

  h2 {
    z-index: 1;
    font-size: 2vw;
    margin-top: -1vw;
  }

p {
  font-size: 1.5vw;
  margin-left: 1vw;
}

  .home_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;
  }

.home_titulo_box {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  top: 30%;
  align-items: center;
}

.home_el_moeda {
  display: flex;
  flex-direction: row;
  //position: absolute;
  align-items: center;
  margin-left: 2vw;
}

.home_titulo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

  .home_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
  }

  .home_arvoreBolas {
    display: flex;
    position: absolute;
    //display: none;
    top: 27vw;
    right: 4vw;
    bottom: 0;
    width: 15vw;
  }

  .home_moeda {
    display: flex;
    width: 2vw;
  }

  .home_arvore {
    display: flex;
    position: absolute;
    //display: none;
    top: 60vw;
    right: 10vw;
    width: 9vw;
  }

  .home_nuvem {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: end;
    //display: none;
    left: 17vw;
    top: -2vw;
    width: 9vw;
  }

  .home_coracao {
    margin-right: 2vw;
    width: 9vw;
  }

  .home_avatar {
    display: flex;
    position: absolute;
    width: 9vw;
    // como alterar o posicionamento das imagens, ao inves do left posso usar o right
    top: 30.8vw;
    left: 5vw;
  }

  .home_trofeu {
    width: 7vw;
    height: 7vw;
    margin-bottom: -2vw;
    margin-right: 1vw;
  }

}
