.jogo_background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #020b27;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jogo_container {
  // width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.5vw;
    margin-left: 1vw;
  }

  .jogo_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;
  }

  .jogo_titulo_box {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 30%;
    align-items: center;
  }

  .jogo_el_moeda {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
  }

  .jogo_game_box {
    position: absolute;
    top: 5vw;

    .jogo_game_iframe {
      width: 50vw;
      height: 30vw;
      border: 2px solid #000;
    }
  }

  .jogo_close_button {
    border: 2px solid #c238d3;
    position: absolute;
    top: 35vw;
    cursor: pointer;
    font-size: 1.5vw;
    padding: 0.7vw 1.3vw;
    margin-top: 1vw;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  .jogo_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
    top: 36.9vw;
  }

  .jogo_avatar {
    display: flex;
    position: absolute;
    width: 8.6vw;
    top: 31.5vw;
    left: 5.3vw;
  }

  .jogo_arvoreBola {
    display: flex;
    position: absolute;
    top: 29.3vw;
    right: 2.5vw;
    bottom: 0;
    width: 11vw;
  }

  .jogo_dog {
    display: flex;
    position: absolute;
    top: 37.3vw;
    right: 10vw;
    width: 2.7vw;
  }

  .jogo_nuvemTriangulo {
    display: flex;
    position: absolute;
    left: 69.2vw;
    top: 7.2vw;
    width: 9vw;
  }

  .jogo_moeda {
    display: flex;
    width: 2vw;
  }

  .jogo_coracao {
    margin-right: 2vw;
    width: 9vw;
  }
}
