.jogo_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  .jogo_game_box {
    position: absolute;
    top: 5vw;

    .jogo_game_iframe {
      width: 60vw;
      height: 30vw;
      border: 2px solid #000;
    }

  }

.jogo_terra {
  display: flex;
  position: absolute;
  width: 80vw;
  bottom: 0;
  top: 36.9vw;
}

.jogo_avatar {
  display: flex;
  position: absolute;
  width: 8.6vw;
  top: 31.5vw;
  left: 5.3vw;
}

.jogo_arvoreBola {
  display: flex;
  position: absolute;
  top: 29.3vw;
  right: 4vw;
  bottom: 0;
  width: 11vw;
}

.jogo_dog {
  display: flex;
  position: absolute;
  top: 37.3vw;
  right: 11vw;
  width: 2.7vw;
}

.jogo_nuvemTriangulo {
  display: flex;
  position: absolute;
  left: 65vw;
  top: 7.2vw;
  width: 9vw;
}

}