@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.ttf");
}

.projectDetails_container {
  width: 80vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.5vw;
    margin-left: 1vw;
  }

  .projectDetails_el_topo_box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    top: -2vw;
  }

  .projectDetails_el_moeda {
    display: flex;
    flex-direction: row;
    //position: absolute;
    align-items: center;
    margin-left: 2vw;
  }

  .projectDetails_box {
    max-width: 65vw;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 8vw;

    .projectDetails_img_box {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      .projectDetails_img_background {
        width: 30vw;
        position: absolute;
        z-index: 1;
      }

      .projectDetails_img_lili {
        width: 18vw;
        z-index: 1;
        position: absolute;
      }
    }
    .projectDetails_text_box {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 50%;
      height: 100%;

      .projectDetails_titulo_box {
        width: 35vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .projectDetails_titulo_background {
          width: 30vw;
          z-index: 1;
          margin-bottom: 1vw;
        }
        h2 {
          font-size: 1.5vw;
          font-family: "ArcadeClassic", cursive;
          position: absolute;
          z-index: 1;
          top: 2.3vw;
        }
      }
      p {
        font-size: 1.1vw;
        width: 30vw;
        z-index: 1;
        line-height: 1.5;
        border: 2px solid #c238d3;
        border-radius: 8px;
        padding: 1vw;
      }

      a {
        color: #c238d3;
      }
    }
  }

  .projectDetails_terra {
    display: flex;
    position: absolute;
    width: 80vw;
    bottom: 0;
  }

  .projectDetails_avatar {
    display: flex;
    position: absolute;
    width: 9vw;
    // como alterar o posicionamento das imagens, ao inves do left posso usar o right
    top: 31.2vw;
    left: 62.2vw;
    z-index: 3;
  }

  .projectDetails_florRosa {
    display: flex;
    position: absolute;
    width: 4vw;
    // como alterar o posicionamento das imagens, ao inves do left posso usar o right
    top: 36vw;
    left: 5vw;
  }

  .projectDetails_montanha {
    display: flex;
    position: absolute;
    width: 9vw;
    // como alterar o posicionamento das imagens, ao inves do left posso usar o right
    top: 32.5vw;
    left: 70vw;
  }

  .projectDetails_moeda {
    display: flex;
    width: 2vw;
  }

  .projectDetails_coracao {
    margin-right: 2vw;
    width: 9vw;
  }
}
