@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: Share Tech Mono, cursive;
  color: #fff;
}

:root {
  height: 100%;
  background-color: #020B27;
}

